.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2px;
}
.logo {
  font-size: 1.6rem;
  color: black;
}

.link {
  color: black;
  padding: 2px 0;
}
