* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #fff;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  text-decoration: none;
}
.active {
  border-bottom: 2px solid black;
}

.mainWrapper {
  width: 94%;
  margin: auto;
}
.mainTitle {
  padding: 1em 0 1em 0;
}

.common_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
@media (max-width: 680px) {
  .common_grid {
    grid-template-columns: 1fr;
  }
}
